
@using Sonic.VM.Entities;
@{
    ViewBag.Title = "Admin Home Page";
    List<Product> products = ViewData["currentstock"] as List<Product>;
    List<TotalSales> totalSales = ViewData["totalsales"] as List<TotalSales>;
}
<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>
<div class="row">
    <div class="col-md-4">
        Current Product Stock
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <ul>
            @foreach (Product p in products)
            {
                <li>
                    @p.ProdName, Qty  @p.ProdQty
                </li>
            }
        </ul>
    </div>
    <div class="col-md-4">
        <ul>
            @foreach (TotalSales t in totalSales)
            {
                <li>
                    Total  @t.PaymentDesc Sales : @t.TotalAmount
                </li>
            }
        </ul>
    </div>
    <div>
        <div class="btn-group" role="group" aria-label="...">
            @Html.ActionLink("Restock Machine", "Restock", new { @class = "btn btn-default active" })
        </div>
    </div>
</div>
