
@using Sonic.VM.Entities;

@{
    ViewBag.Title = "Restock successfull";
    List<Product> products = ViewData["currentstock"] as List<Product>;
    List<TotalSales> totalSales = ViewData["totalsales"] as List<TotalSales>;
    List<Order> canssold = ViewData["canssold"] as List<Order>;
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-12">
        All Payment details have been cleared.
        Stock has been updated.
     </div>
</div>
<div class="row">
    <div class="col-md-12">
      
    </div>
</div>

<div class="row">
    <div class="col-md-12">
       Current Product Stock
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <ul>
            @foreach (Product p in products)
            {
                <li>
                    @p.ProdName, Qty  @p.ProdQty
                </li>
            }
        </ul>
    </div>
    <div class="col-md-4">
        <ul>
            <li>Total Cans Sold : @canssold.Count</li>
            @foreach (TotalSales t in totalSales)
            {
                <li>
                    Total  @t.PaymentDesc Sales : @t.TotalAmount
                </li>
            }
        </ul>
    </div>
    <div>
        @Html.ActionLink("Restock Machine - Add 5 items each", "Restock")
    </div>
</div>
